<div class="container mt-3">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to 'Personajes', characters_path %>
  <%= link_to 'Películas', films_path %>
  <%= link_to 'Géneros', genres_path %>

</div>