<div class="container mt-3">
  <div class="d-flex align-items-center bd-highlight">
    <h1 class="flex-grow-1 bd-highlight">Personajes</h1>
    <%= link_to "+ Personaje", new_character_path, class: "btn btn-primary bd-highlight" %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @characters.each do |character| %>
      <a href="<%=character_path(character) %>">
        <div class="col">
          <div class="card mb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyLgTuEkTjO_rvIsmza1qKPqFwZdP-R3EKBg&usqp=CAU" class="card-img-top" alt="mickey">
            <div class="card-body">
              <h5 class="card-title"><%= character.name %></h5>
              <p class="card-text"><%= character.history %></p>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>